<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2><i class="fa-brands fa-canadian-maple-leaf red"></i> About Me</h2>
        <p> Orginally from Canada, I arrived in Japan two years ago to pursue a master's degree with Tohoku University. I am a <strong>designer and fullstack developer</strong> with a background in <strong>psychology and linguistics</strong>. I have completed several projects using: <em>Ruby on Rails, Javascript, HTML, CSS/SCSS, Figma</em> and <em>React</em>. I can't wait to be able to put these skills to use in a new environment!</p>
        <p> My experience in academia has made me a <strong>quick and enthusiastic learner</strong>. It has also taught me excellent soft skills, such as <strong>effective communication</strong> and <strong>critical thinking</strong>. I know these strengths will make me a great addition to any <strong>design or software development</strong> team. I am aiming for a future career with an innovative company that I can grow and develop together with.</p>
      </div>
    </div>
  </div>
</div>
