<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2><i class="fa-brands fa-canadian-maple-leaf red"></i> About Me</h2>
        <p> Orginally from Canada, I arrived in Japan two years ago to pursue a master's degree with Tohoku University. More recently, I began my journey as a <strong>fullstack developer</strong> and have since successfully completed Le Wagon's intensive <strong>10-week coding bootcamp</strong>. I had an incredible experience with them learning: <em>Ruby on Rails, Javascript, HTML, CSS/SCSS,</em> and <em>React</em>. I can't wait to be able to put these skills to use in a new environment!</p>
        <p> In terms of my other skills, my experience in academia has made me a <strong>quick and enthusiastic learner</strong>. It has also taught me excellent soft skills, such as <strong>effective communication</strong> and <strong>critical thinking</strong>. I know these strengths will make me a great addition to any software development team. I am aiming for a future career with an innovative company that I can <strong>grow and develop</strong> together with.</p>
      </div>
    </div>
  </div>
</div>
