.banner {
  height: 55vh;

  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 575px)  {
  .banner {
    height: 50vh
  }

  .banner h1 {
    font-size: 24px;
  }

  .title-main {
    margin-top: 1.5em;
    margin-bottom: 0;
  }
}
