.banner {
  height: 55vh;

  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .banner {
    h1 {
      text-align: center;
    }
  }
}
